/* Estilo del boton para abrir el modal */

.open-modal-button {
    background-color: #d40808;
    color: #fff;
    border: none !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20 px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

/* estilo modal oculto */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* estilo contenido del modal */
.modal-content {
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
}

/* estilo del boton cerrar modal */
 .close-button {
    float: right;
    background-color:  #d40808;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
 }

 /* aplicar el estilo del modal cuando el id esta en target */
 :target {
    display: block;
 }
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 }
 header {
    background-color: #000;
    color: red;
    text-align: center;
    padding: 20px;
 }
 nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
 }
 nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
 }
 section {
    padding: 20px;
    text-align: center;
 }
 .responsive-img {
    max-width: 100%;
    height: auto;
 }
 footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
 }
 
 @media( max-width:600px){
    nav {
        flex-direction: column;
        align-items: center;
    }
 }